<section id="page">
    <div id="contactDiv">
        <div class="container-fluid" id="formDiv">
            <div class="row">
                <form id="contactForm" action="#" method="post">
                        <div class="col-sm-12 form-input">
                            <label for="name">Name:</label>
                            <input id="name" class="input" name="name" type="text" placeholder="Jane Doe" required>
                        </div>
                        <div class="col-sm-12 form-input">
                            <label for="email">Email:</label>
                            <input id="email" class="input" name="email" type="email" placeholder="janedoe@email.com" required>
                        </div>
                        <div class="col-sm-12 form-input">
                            <label for="message">Message</label><br>
                            <textarea id="message" class="input" name="message" required></textarea>
                        </div>
                        <div class="col-sm-12">
                            <button id="submit" class="submit" type="submit" value="send email">Send</button>
                        </div>
                </form>
            </div>
        </div>
        <hr>
        <div class="container-fluid" id="linkDiv">
            <div class="row">
                <div class="col-sm-6 form-list">
                    <h3>Social</h3>
                    <ul class="list">
                        <li><a href="https://www.linkedin.com/in/christopherkempton">LinkedIn</a></li>
                        <li><a href="https://twitter.com/javascriptChris">Twitter</a></li>
                        <li><a href="https://github.com/kempt09">Github</a></li>
                        <li><a href="https://www.facebook.com/rhymnoceros1">Facebook</a></li>
                    </ul>
                </div>
                <div class="col-sm-6 form-list">
                    <h3>Cool Links</h3>
                    <ul class="list">
                        <li><a href="https://developer.mozilla.org/en-US/">MDN</a></li>
                        <li><a href="http://stackoverflow.com/">Stack Overflow</a></li>
                        <li><a href="https://jquery.com/">jQuery</a></li>
                        <li><a href="http://getbootstrap.com/">Bootstrap</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr>
        <div class="container-fluid" id="">
            <div class="row">
                  <form id="changeString">
                    <div class="col-sm-12 form-input">
                        <h3 id="addExheader">Type in something to make it exciting!</h3>
                        <input id="addExBox" class="input" name="string" type="text" placeholder="Something cool" required>
                    </div>
                    <div class="col-sm-12">
                        <button id="addEx" class="submit" type="button" onclick="makeChange()" value="make exciting">Exite Me</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
